@media (900px <= width <= 1100px) {
  html {
    font-size: 55%;
  }
  h3 {
    font-size: 1.6rem;
  }
  .project-box p {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 2rem;
  }
}
@media (700px <=width <= 899px) {
  html {
    font-size: 47%;
  }
  h3 {
    font-size: 1.4rem;
  }
  .project-box p {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.6rem;
  }
  .searchbar {
    width: 60%;
  }
  .navigation {
    width: 95%;
  }
  .links {
    gap: 1.2rem;
  }
  .link {
    font-size: 1.2rem;
    padding: 1.6rem 2.6rem;
  }
  .profile-pic {
    width: 15%;
  }
  .username span {
    font-size: 1.6rem;
  }
  .username p {
    font-size: 1.8rem;
  }
}
@media (600px <=width <= 799px) {
  html {
    font-size: 45%;
  }
  .logo-section {
    width: 50%;
  }
  h3 {
    font-size: 1.4rem;
  }
  .project-box p {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.4rem;
  }

  .links {
    gap: 1.6rem;
  }
  .link {
    font-size: 1.2rem;
    padding: 1.6rem 2.2rem;
  }
  .profile-pic {
    width: 10%;
  }

  .trending-img {
    width: 25%;
  }
}
@media (300px <=width <=599px) {
  html {
    font-size: 35%;
  }
  .logo-section {
    width: 70%;
  }
  .searchbar {
    width: 40%;
  }
  .links {
    width: auto;
    gap: 1.4rem;
  }
  .link {
    font-size: 1.2rem;
    padding: 1.4rem 1.4rem;
  }
  .profile-card {
    width: 60%;
  }
  .username span {
    font-size: 1.2rem;
  }
  .username p {
    font-size: 1.4rem;
  }
  .icon {
    height: 2rem;
  }
  .project-grid {
    display: block;
    width: 100%;
  }
  .row {
    display: block;
  }
}
